<form class="d-flex flex-row justify-content-around align-items-center flex-wrap" style="gap:30px;"
    [formGroup]="assistantForm">
    <div style="flex-basis: 250px; flex-grow: 1; max-width: 300px;">
        <div class="form-outline column">
            <label for="name" class="form-label" [ngClass]="{'text-danger': 
                (assistantForm.controls['name'].dirty ||
                assistantForm.controls['name'].touched) && 
                assistantForm.controls['name'].invalid}" #nameLabel>Nombre</label>
            <div class="row" style="height: 62px;">
                <div>
                    <input type="text" class="form-control" id="name" placeholder="Nombre..." formControlName="name"
                        [ngClass]="{'is-invalid': 
                        (assistantForm.controls['name'].dirty || 
                        assistantForm.controls['name'].touched) && 
                        assistantForm.controls['name'].invalid}" #nameInput>
                </div>
                <div>
                    <small id="nameHelp" class="text-danger" *ngIf="(assistantForm.controls['name']?.dirty || 
                        assistantForm.controls['name']?.touched) && 
                        assistantForm.controls['name']?.invalid">Campo invalido!</small>
                </div>
            </div>
        </div>

        <div class="form-outline column">
            <label for="code" class="col-form-label" [ngClass]="{'text-danger': 
                (assistantForm.controls['code'].invalid && 
                (assistantForm.controls['code'].touched || 
                assistantForm.controls['code'].dirty))}">Código</label>
            <div class="row" style="height: 62px;">
                <div>
                    <input type="number" class="form-control" id="code" placeholder="Código..." formControlName="code"
                        [ngClass]="{'is-invalid' : 
                        (assistantForm.controls['code'].invalid && 
                        (assistantForm.controls['code'].touched || 
                        assistantForm.controls['code'].dirty))}">
                </div>
                <div>
                    <small id="codeHelp" class="text-danger" *ngIf="(assistantForm.controls['code']?.dirty || 
                        assistantForm.controls['code']?.touched) && 
                        assistantForm.controls['code']?.invalid">Campo invalido!</small>
                </div>
            </div>
        </div>

        <div class="form-outline column">
            <label for="class" class="col-form-label" [ngClass]="{'text-danger': 
                (assistantForm.controls['code'].invalid && 
                (assistantForm.controls['code'].touched || 
                assistantForm.controls['code'].dirty))}">Materia</label>
            <div class="row" style="height: 62px;">
                <div>
                    <select class="form-select" id="class" formControlName="class"
                        (change)="changeClassFormValue('class',$event)">
                        <option value="">Materia...</option>
                        <option [ngValue]="class.id" *ngFor="let class of classRoomService.classRoomsArray">
                            {{class.className}} - {{class.id}}</option>
                        <option *ngIf="classRoomService.classRoomsArray.length == 0">No hay materias registradas!
                        </option>
                    </select>
                </div>
                <div>
                    <small class="text-danger" *ngIf="(assistantForm.controls['class']?.dirty || 
                        assistantForm.controls['class']?.touched) && 
                        assistantForm.controls['class']?.invalid">Campo invalido!</small>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="assistantForm.invalid"
            (click)="addAssistant()">Añadir</button>
    </div>
    <div style="flex-basis: 250px; flex-grow: 2;">
        <div class="alert alert-warning" role="alert">
            <i class="fa-sharp fa-solid fa-circle-exclamation text-danger"></i>
            Ingrese los horarios de clase
        </div>
        <table class="table table-bordered" style="overflow-x: auto;">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Hora</th>
                    <th scope="col">Lunes</th>
                    <th scope="col">Martes</th>
                    <th scope="col">Miércoles</th>
                    <th scope="col">Jueves</th>
                    <th scope="col">Viernes</th>
                    <th scope="col">Sabado</th>
                </tr>
            </thead>
            <tbody *ngIf="classRoomService.selectedClassRoom == undefined">
                <tr *ngFor="let row of classRoomService.calendarClassRoom ; let i = index">
                    <th scope="col">{{dataService.hours[i]}}</th>
                    <td style="max-width: 90px; padding: 0;" class="text-center"
                        *ngFor="let celd of row; let j = index" (click)="resaltCeld(i,j)">
                        <div class="celd">
                            <div class="assist" *ngIf="classRoomService.calendarAssistant[i][j].selected">
                                <span class="text" style="width: 100%; word-break:break-all;">Monitoria</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="classRoomService.selectedClassRoom != undefined">
                <tr *ngFor="let row of classRoomService.selectedClassRoom.calendar; let i = index">
                    <th scope="col">{{dataService.hours[i]}}</th>
                    <td style="max-width: 90px; padding: 0;" class="text-center" *ngFor="let celd of row; let j = index"
                        (click)="resaltCeld(i,j)">
                        <div class="celd">
                            <div [ngClass]="[celd.selected ? celd.type : '']" *ngIf="celd.room != undefined">
                                <span class="text" style="width: 100%; word-break:break-all;">{{celd.room}}</span>
                            </div>
                            <div class="assist" *ngIf="classRoomService.calendarAssistant[i][j].selected">
                                <span class="text" style="width: 100%; word-break:break-all;">Monitoria</span>
                            </div>
                            <div *ngFor="let assistant of classRoomService.selectedClassRoom.assistant">
                                <div *ngIf="assistant.calendar[i][j].selected"
                                    [ngClass]="[assistant.calendar[i][j].selected ? assistant.calendar[i][j].type : '']">
                                    <span class="text" style="width: 100%; word-break:break-all;">
                                        {{assistant.name}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>

<swal #assistantSite [showCloseButton]="true" [showConfirmButton]="true" confirmButtonText="Añadir">
    <form class="" id="swal-form" *swalPortal="swalTargets.content" [formGroup]="assistantSiteForm">
        <div class="inputs-cont">

            <div style="max-width:200px; margin-bottom:10px;">
                <label class="col-form-label" [ngClass]="{'text-danger': 
                    (assistantSiteForm.controls['typeRoom'].dirty ||
                    assistantSiteForm.controls['typeRoom'].touched) && 
                    assistantSiteForm.controls['typeRoom'].invalid}">Tipo salon</label>
                <div class="row">
                    <div class="radio-group">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="salon"
                                (click)="changeAssistantSiteFormValue('typeRoom',$event)" [value]="'Salon'" />
                            <label class="form-check-label" for="salon">Salon</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="tic"
                                (click)="changeAssistantSiteFormValue('typeRoom',$event)"
                                [value]="'Asistido por TIC'" />
                            <label class="form-check-label" for="tuc">Asistido por TIC</label>
                        </div>
                    </div>
                    <div>
                        <small class="text-danger" *ngIf="(assistantSiteForm.controls['typeRoom']?.dirty || 
                            assistantSiteForm.controls['typeRoom']?.touched) && 
                            assistantSiteForm.controls['typeRoom']?.invalid">Campo invalido!</small>
                    </div>
                </div>
            </div>

        </div>
    </form>
</swal>